.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  background-color: rgba(240, 255, 255, 0.735);
  border-radius: 20px;
  flex: 0 0 auto;
  margin: 15px;
  padding: 5px;
  text-align: center;
}

.img-card-recommendation {
  border-radius: 30px;
}

.p-card-recommendation {
  font-family: Montserrat , Helvetica , Arial , sans-serif;
}
